
     * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
      }

    html, body {
         width: 100%;
         height: 100%;
       }
    header{
        position: sticky;
        z-index: 10;
        height: 60px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: #131921;
        color: white;
        font-family: Arial;
        top: 0;

    }
    section{
    height: 100%;
    overflow:auto;
     
    }
    .header1{
        display: flex;  
    }
    .logo{
        margin: 10px;
    }
    .address{
       padding-top: 12px;
       margin-left: 5px;
    }
    .address-1{
        font-size: 13px;
        color:rgb(211, 207, 207);
    }
    .searchbar{
        display: flex;
        align-items: center;

    }
    .first-search{
    
        background-color: rgb(226, 223, 223);
        color: black;
        width: 65px;
        padding: 12px;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

    }
    
    .center-search{
        background-color: white;
        color: black;
        width: 600px;
        padding: 12px;
        text-align: start; 
    }

    .end-search{
        background-color:#F3A847;
        color: black;
        width: 50px;
        padding: 12px;
        text-align: start;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

     .extra{
        display: flex;
        margin-top: 20px;

     }

    .EN{
        text-align: center;
        font-weight: bold;
        color: white;

    }

     .tiranga{
        width: 30px;
        margin-left: 15px;
        
    }
      
  .tiranga .orange{
        background-color: #fd7309;
        width: 25px;
        height: 5px;
    }

    .white{
        background-color: white;
        width: 25px;
        height: 5px;
    }
    .green{
        background-color: green;
        width: 25px;
        height: 5px;
    }

    .headerend{
        display: flex;
        align-items: center;
    }

    .signin{
        font-size: 14px;
        margin-right: 10px;
    }

    .return{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav{
        /* height: 40px; */
        width: 100%;
        background-color: #232F3E;
    }

    .background img{
        background-size: cover;
        width: 99%;
      margin-left: 10px;
      margin-right: 10px;
      height: 600px;
        
    }

.carousel {
  position: relative; 
}


.carousel-control-prev,
.carousel-control-next {
  top:10% !important;
  height: 100px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px !important ;
  height: 50px !important;
  background-size: 100% 100%; 

  
}

    .cards-container{
        margin-top: -350px;
        margin-left: 20px;
        margin-right: 18px;
    }

    .card{
        background-color:white;
        padding: 10px;
       
  
    }
    .Row-1{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-gap: 20px;
        margin-bottom: 40px;
        
    }

    .row-1{
        display: grid;
        grid-template-columns: 6fr 6fr;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .row-2{
        display: grid;
        grid-template-columns: 6fr 6fr;
        padding-left: 10px;
        margin-bottom: 40px;
    
    }

    .pics img{
        width: 150px;

    }

    .card-header{
        font-size: 26px;
        font-weight: bold;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .show-more{
        margin-left: 10px;
        color: blue;
    }

    .Row-2{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-gap: 20px;
        margin-bottom: 40px;
        
    }

    .Totop{
        height: 40px;
        background-color: #485769;
        text-align: center;
        text-decoration:none;
        color: white;
        padding-top: 10px;
        font-size: 20px;

    }

    .Totop a{
        text-decoration:none;
        color: white;
    }
    footer{
        background-color:#232F3E ;
    
        padding-bottom: 30px;
        
      
    }
    .footer-row-1{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        padding-top: 40px;
        background-color: #232F3E;
        color: white;
        font-family: Arial;
        padding-left: 60px;
        padding-bottom: 35px;
    }
    .footer-row-1 p{
        padding-bottom: 10px;
        font-size: 15px;
    }

    .footer-row-2 {
        text-align: center;
    }
    .footer-title{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }
